---
import Footer from "../components/Footer.astro"
import Nav from "../components/Nav.astro"

const siteDate = {
    title: "Restaurante Patuloma",
    description: "Una restaurante de cultura y tradicion donde lo de ancestro de quiere "
}
const {title = siteDate.title, description = siteDate.description} = Astro.props
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="max-w-[2000px] max-auto text-text">
        <Nav />
		<slot />
        <Footer />
	</body>
</html>